[submodule "nvim/K-Snippets"]
	path = nvim/K-Snippets
	url = git@github.com:InfiniteSynthesis/K-Snippets.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "git/diff-so-fancy"]
	path = git/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "qbittorrent/VueTorrent"]
	path = qbittorrent/VueTorrent
	url = https://github.com/WDaan/VueTorrent.git
	branch = latest-release
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/tmux-window-name"]
	path = tmux/tmux-window-name
	url = https://github.com/ofirgall/tmux-window-name.git
[submodule "tmux/extrakto"]
	path = tmux/extrakto
	url = https://github.com/laktak/extrakto.git
[submodule "tmux/tmux-tokyo-night"]
	path = tmux/tmux-tokyo-night
	url = https://github.com/InfiniteSynthesis/tmux-tokyo-night
